<div class="container">
    <section id="title-section" class="flex-column center-align">
        <h1>Voxy Word Counter</h1>
        <div class="flex-row subtitle-wrapper">
            <p>Counting your words since 2022</p>
        </div>
    </section>
    <section id="counter-section" class="flex-row">
        <form [formGroup]="myForm">
            <div class="textarea-container">
                <textarea formControlName="text" name="word-counter" id="word-counter" rows="10"></textarea>
            </div>
            <div class="button-wrapper">
                <button mat-raised-button (click)="onSubmit()" color="primary" class="count-button" [disabled]="disabledFlag===true">Count !!!</button>
            </div>
            <div *ngIf="wordCount > 0">
               <p class="result">
                    I've counted {{wordCount}} word(s) on your text! Yay!
               </p>
            </div>
        </form>
    </section>
</div>